html, body, body > div{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container{
  float: left;
  width: 50%;
  height: 50%;
  background-color: rebeccapurple;
}
.square-wrapper, .square{
  width: 100%;
  height: 90%;
}
.square{
  background-color: aquamarine;
}


.fade-enter{
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active{
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}
.fade-exit{
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active{
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms;
}



.change{
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: bisque;
  font-size: 100px;
  text-align: center;
}
.btn-enter{
  transform: translate(100%, 0);
  opacity: 0;
}
.btn-enter-active{
  transform: translate(0, 0);
  opacity: 1;
  transition: all 500ms;
}
.btn-exit{
  transform: translate(0, 0);
  opacity: 1;
}
.btn-exit-active{
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 500ms;
}





.friend-enter{
  transform: translate(100%, 0);
  opacity: 0;
}
.friend-enter-active{
  transform: translate(0, 0);
  opacity: 1;
  transition: all 500ms;
}
.friend-exit{
  transform: translate(0, 0);
  opacity: 1;
}
.friend-exit-active{
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 500ms;
}
.friend{
  width: 50%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: cadetblue;
  border-bottom: 1px solid crimson;
}